* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  overflow-x:hidden;
}

.head {
  max-width: 100vw;
  height: auto;
  background-color: rgb(183, 68, 234);

}

.as {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-left: 23px;
  font-size: 23px;

}

@media (max-width:1260px) {
  .butan {
    font-size: 12px;
  }

  .head {
    max-width: 100%;
  }

}

/* para */
.para {
  text-align: center;
  color: white;
  margin-top: 5vw;
}

.para h1 {
  font-size: 45px;
  font-weight: bold;
}

.para p {
  margin-top: 34px;
  font-size: 23px;
  font-weight: bolder;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ..............card....... */

.card-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  margin-top: 45px;

}

.card1 {
  max-width: 500px;
  margin-bottom: 43px;
  text-align: center;
  background-color: rgb(110, 16, 162);
  padding: 34px;
  border-radius: 20px;

}

.card1 i {
  text-align: center;
  justify-content: center;
  font-size: 43px;
  padding-top: 12px;

}

.card1 p {
  text-align: justify;
  text-align: center;
}

@media (max-width:768px) {

  .card-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .card1 {
    max-width: 500px;
  }

  .card1 p {
    font-size: 22px;
  }

  .card1 i {
    font-size: 54px;
  }
}

/* ........card end........... */

/* ......sec......... */
.start {
  text-align: center;
  justify-content: center;
  margin-top: 42px;
}

.start span {
  border-bottom: solid 2px rgb(183, 68, 234);
  font-size: 33px;
}

.start h3 {
  line-height: 43px;
}

/* ............box........... */

.box {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 43px;
}

.box2 {
  font-size: 45px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box3 {
  font-size: 45px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lik i {
  color: rgb(248, 224, 89);
}

.heart i {
  color: rgb(234, 123, 38);
}

.scren i {
  color: rgb(116, 233, 242);
}

.rocket i {
  color: rgb(50, 36, 233);
}

.box-main {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 43px;
  display: none;
}


@media (max-width:668px) {
  .box {
    display: flex;
    flex-direction: column;



  }

  .box-main {
    display: none;
  }
}



@media (max-width:1200px) {
  .box {
    display: none;

  }

  .box-main {
    display: block;
    display: flex;
    justify-content: space-evenly;
  }

}

/* .................about.......... */

.about{
  background-color: rgb(244,247,254);
  margin-top: 56px;
  
}
.img{
  padding-bottom: 33px;
}
.img img{
  width: 33vw;
}

.com{
  padding-top: 70px;
  padding-bottom: 50px;
}
.com p{
  text-align: justify;
  margin-right: 53px;
  
  

}
.gust{
  background-color: rgb(255,255,255);
}
.cmd{
  padding-top: 70px;
  text-align: justify;
  margin-right: 34px;
}
.cmd p{
  text-align: justify;
  padding-top: 12px;
  line-height: 24px;
  word-spacing: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}

.link2{
  display: none;
}



@media (max-width:990px) {

  .img{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .img img{
    width: 60vw;
  }
  .com {
    font-size: 2.5vw;
    padding: 0px;
    margin-bottom: 34px;
    margin-left:23px;
  }

   .cmd {
    font-size: 2.5vw;
    padding: 0px;
  }

  .cmd p{
    padding-top: 12px;
    line-height: 34px;
    word-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 33px;
  }

  .link{
    display: none;
  }

  .link2{
    display:block;
  }
  
}


/* ..............................icons.............. */

.cont{
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 53px;
}

.icon1{
  font-size: 73px;
  color: rgb(242,243,244);
}

.cont1 h1{
  margin-top: 43px;
  color: rgb(232,79,125);
  font-size: 34px;
  font-weight: bolder;

}

.cont2 h1{
  margin-top: 43px;
  color:rgb(126,60,249);
  font-size: 34px;
  font-weight: bolder;

}

.cont3 h1{
  margin-top: 43px;
  color: rgb(236,137,35);
  font-size: 34px;
  font-weight: bolder;

}

.cont4 h1{
  margin-top: 43px;
  color:rgb(89,188,17);
  font-size: 34px;
  font-weight: bolder;

}

.scr90{
  display: none;
}

@media (max-width:900px) {
  .cont{
    display: none;
  }
  .scr90{
    display:flex;
    justify-content: space-evenly;
  }
  
}

/* ....................questionsection........ */

@media (max-width:900px) {
  .qus{
    display: flex;
    flex-direction: column;

  }
  
}

/* ..........team............. */

.expert{
  text-align: center;
  align-items: center;
 margin-top: 74px;
}

.expert h1{
  color: rgb(112,127,140);
  font-weight: bolder;
}

.admin{
  display: flex;
}
.ime img{
  width: 122px;
  margin: 24px;
}
.sup{
  margin-top: 24px;
  line-height: 43px;
  letter-spacing: 1px;
}
.sup h4{
  letter-spacing: 1px;
}

.sup h4{
  background-color: rgb(255,255,255);
}

@media (max-width:900px) {

  .expert{
    text-align: center;
    align-items: center;
   margin-top: 74px;
  }
  
  .expert h1{
    color: rgb(112,127,140);
    font-weight: bolder;
  }
  
  .admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .ime img{
    width: 122px;
    margin: 24px;
  }
  .sup{
    margin-top: 24px;
    line-height: 43px;
    letter-spacing: 1px;
  }
  .sup h4{
    letter-spacing: 1px;
  }
  
  .sup h4{
    background-color: rgb(255,255,255);
  } 
  
}

/* .........................buy...... */

.buy{
  max-width: 100vw;
  height: auto;
  background-color: rgb(181,82,235);
}

.seo{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  color: white;
}

@media (max-width:900px) {
  .buy{
    max-width: 100vw;
    height: auto;
    background-color: rgb(181,82,235);
  }
  
  .seo{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    color: white;
  }
  
}

/* ...............footer........... */
.fot{
  background-color: rgb(237,214,255);
}






